
<!-- jQuery -->
<script type="text/javascript"
	th:src="@{/webjars/mdbootstrap/4.19.0/js/jquery.min.js}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript"
	th:src="@{/webjars/mdbootstrap/4.19.0/js/popper.min.js}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
	th:src="@{/webjars/mdbootstrap/4.19.0/js/bootstrap.min.js}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript"
	th:src="@{/webjars/mdbootstrap/4.19.0/js/mdb.min.js}"></script>

<script type="text/javascript" 
	th:src="@{/webjars/sweetalert2/9.15.1/dist/sweetalert2.all.min.js}" language="JavaScript" />