<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:insert="fragments/header-fragment" />

<!-- Your custom styles (optional) -->
<link th:href="@{/css/style-home.css}" rel="stylesheet">
</head>

<body>
	<div class="container-for-admin">
		<!--Main Navigation-->
		<header>
			<!-- Navbar -->
			<th:block th:insert="fragments/navbar-fragment" />
			<!-- Navbar -->

			<!-- Sidebar -->
			<th:block th:insert="fragments/sidebar-fragment" />
			<!-- Sidebar -->
		</header>
		<!--Main Navigation-->

		<!--Main layout-->
		<main class="pt-5 mx-lg-5" style="height: 80vh">
			<div class="container-fluid mt-5">
				<div class="h5">Bienvenid@  
					<span th:remove="tag" th:text="${clienteLogin.nombres}" th:if="${clienteLogin}" />
				</div>
			</div>
		</main>
		<!--Main layout-->

		<!--Footer-->
		<th:block th:insert="fragments/footer-fragment" />
		<!--/.Footer-->
	</div>
	<!-- End your project here-->

	<!-- SCRIPTS -->
	<th:block th:insert="fragments/resources-js-fragment" />

	<script type="text/javascript" th:src="@{/js/js-home.js}"></script>
</body>

</html>